@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');


p.g{
    color: green;
    font-family: 'Kalam', cursive;
    font-size: 40px;
}


.teksti {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  .numero {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .iso{
    font-size: 18px;
    font-family: 'Kalam', cursive;
  
      }


  @media only screen and (max-width: 400px) {
        .iso {font-size: 14px;
          font-family: none;}
      }